In [2]:
# this notebook is to try sql queries to get the stats i want
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv('dbdocker.env')
db = mysql.connector.connect(
        host=os.getenv("DB_HOST"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        #database=os.getenv("DB_NAME")
    )
cursor = db.cursor()

cursor.execute("DROP DATABASE IF EXISTS carrom")
db.commit()
cursor.execute("CREATE DATABASE IF NOT EXISTS carrom")
db.commit()
cursor.execute("USE carrom")
db.commit()
cursor.execute("CREATE TABLE IF NOT EXISTS users (username VARCHAR(60) NOT NULL UNIQUE)")
db.commit()
cursor.execute("INSERT INTO users (username) VALUES ('MarcoPolo')")
cursor.execute("INSERT INTO users (username) VALUES ('franco126')")
db.commit()
cursor.execute("CREATE TABLE IF NOT EXISTS matches (matchID INT AUTO_INCREMENT PRIMARY KEY, player1 VARCHAR(60) NOT NULL, player2 VARCHAR(60) NOT NULL, score1 INT NOT NULL, score2 INT NOT NULL)")
db.commit()
sql = "INSERT INTO matches (player1, player2, score1, score2) VALUES (%s, %s, %s, %s)"
val = ("carlo", "franco", 7, 6)
cursor.execute(sql, val)
db.commit()

In [ ]:
cursor.execute("INSERT INTO users (username) VALUES ('luigi')")
cursor.execute("INSERT INTO users (username) VALUES ('LUCA')")
sql = "INSERT INTO matches (player1, player2, score1, score2) VALUES (%s, %s, %s, %s)"
val = ("luigi", "LUCA", 10, 9)
cursor.execute(sql, val)
val1 = ("luigi", "LUCA", 11, 0)
val2 = ("luigi", "franco126", 8, 1)

IntegrityError: 1062 (23000): Duplicate entry 'luigi' for key 'users.username'

In [ ]:

cursor.execute(sql, val1)
cursor.execute(sql, val2)
db.commit()

In [12]:
val3 = ("LUCA", "luigi", 7,3)
cursor.execute(sql, val3)
db.commit()

In [ ]:
cursor.execute("SELECT player1, score1 FROM matches WHERE player1 = 'luigi'")
a = cursor.fetchall()
cursor.execute("SELECT player2, score2 FROM matches WHERE player2 = %s", ("luigi",))
b = cursor.fetchall()
print(a+b)
N_games = len(a+b)
print(f"luigi has played {N_games} games")
mean = sum(x[1] for x in a+b) / N_games
std = (sum((x[1] - mean) ** 2 for x in a+b) / N_games) ** 0.5
print(f"Luigi's std: {std:.2f}")
print(f"Luigi's avg: {mean:.2f}")
sqm =

[('luigi', 10), ('luigi', 11), ('luigi', 8), ('luigi', 3)]
luigi has played 4 games
Luigi's std: 3.08
Luigi's avg: 8.00

In [ ]:
db.close()