In [1]:
import pandas as pd

In [57]:
dataset = pd.DataFrame({'isacco': [2,np.nan], 'luigi':[1,0]})

In [58]:
dataset.isacco.count()

1

In [41]:
import pandas as pd
dataset = pd.DataFrame({'isacco': [2,3], 'luigi':[1,0]})
dataset.to_csv('punticarrom.csv', index=False)
colonne = pd.read_csv('punticarrom.csv').columns.tolist()
giocatori = ', '.join(colonne)

In [42]:
print(f'ciao ai {giocatori}')

ciao ai isacco, luigi

In [20]:
upper('ciao')

NameError: name 'upper' is not defined

In [21]:
import pandas as pd
import numpy as np

# Example DataFrame with unknown columns
df = pd.DataFrame(columns=["A", "B", "C", "D"])
df

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [22]:
# Define new row with only A and B filled
new_row = {"A": 5, "B": 10}  # Only set values for known columns

In [23]:
# Append the new row with NaN for unspecified columns
df.loc[len(df)] = {col: new_row.get(col, np.nan) for col in df.columns}

print(df)

   A   B   C   D
0  5  10 NaN NaN